.git/objects/pack/pack-dd0aa0f4f09db39bed6c03863e5fa612c7bbc0d2.pack
vendor/apex/com.google.pixel.camera.hal.apex
product/app/YouTube/YouTube.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/Photos/Photos.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/PrebuiltBugle/PrebuiltBugle.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
